form {
  background-image: linear-gradient(to right top, #832058, #8a3c78, #8d5697, #8c6fb3, #8988cc, #7d84c1, #7380b5, #6b7ba9, #555c7d, #3d3f54, #25252e, #090909);
}

label {
  color: white;
  font-size: 24px;
}

.main h1 {
  color: white;
}

.frmdata h2 {
  color: white;
  font-size: 24px;
  padding-top: 50px;
  text-decoration: underline;
}

.frmdata p {
  color: white;
  font-size: 20px;
  padding-bottom: 30px;
}